
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .column{
     margin: auto;
      height: 85vh;
      border: 1px solid #cecece;
  }
  
  .Available{
    display: flex;
    text-align: center;
    gap: 10px;
    border-bottom: 2px solid #dbdbdb;
    background: #f6f6f6;
    height: 11vh;
    align-items: center;
    padding-left: 25px;
  }
  .Available h4{
    color: #4f6c92;
  }
  .Available p{
    color: #A4B8B3;
  }
  .filter{
      display: flex;
      justify-content: space-between; 
      border-bottom: 2px solid #dbdbdb;
      align-items: center;
      height: 14vh;   
      padding-left: 25px;
  }
  .Timing h4{
    color: #4F6C92;
  }
  .Timing span{
    color: #A4B8D3;
  }
  .Overall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .shifts {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  
  button{
    padding: 6px 20px 6px 20px;
    border-radius: 15px;
    border: 1px solid #f55671 ;
    color: #f55671;
    background: white;
    font-weight:bolder;
    font-size: 13.5px;
    cursor: pointer;
  }
  .btn1{
  margin-right: 10px;
  }
 
  